@import '_vars';
@import '_global';
@import '_fonts';

// start header

.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}
.header_btn{
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.header_btn-login{
    background-color: $green;
}
.header_btn-registr,{
    background-color: $red;
    margin-left: 7px;
}
.header__menu{
    background-color: $bg;
}
.menu{
    display: flex;
    align-items: center;
    height: 60px;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 30px;
        }
    }
    a{
        color: #fff;
        font-size: 14px;
    }
}
.header__circle{
    &.active{
        display: block;
    }
    display: none;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;
    span{
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        right: -7px;
        top: -7px;
        font-size: 11px;
        color: #fff;
    }
}
.header__box{
    display: flex;
    align-items: center;
}
.notification{
    span{
        background-color: $yellow;
    }
}
.message{
    span{
        background-color: $tomato;
    }
}
.basket{
    span{
        background-color: $green;
    }
}
.header_btn-login--off{
    display: none;
}
.header_btn-logout{
    display: none;
    background-color: $red;
    &.header_btn-login--on{
        display: block;
    }
}
.user{
    margin-left: 20px;
    margin-right: 25px;
    padding-right: 20px;
    &__inner{
        display: flex;
        align-items: center;
    }
    &__images{
        margin-right: 15px;
        width: 34px;
        height: 34px;
        overflow: hidden;
        border-radius: 50%;
    }
    &__info{
        font-size: 14px;
        line-height: 24px;
    }
    &__name{
        @include f500;
        color: #222;
    }
    &__money{
        color: $green;
        @include f700;
    }
}
.user__menu{
    top: 69px;
    left: 20px;
    border: 0px solid rgb(204, 204, 204);
    position: absolute;
    background-color: #fff;
    padding: 0px 20px;
    width: 158px;
    transition: all .3s;
    height: 0;
    overflow: hidden;
    a{
        font-size: 12px;
        color: #546e7a;
        margin-bottom: 15px;
    }
}
.circle__menu{
    position: absolute;
    top: 69px;
    z-index: 1;
}
.user__box,
.bascet__box,
.message__box,
.notification__box{
    position: relative;
    height: 90px;
    margin-top: 40px;
    &:hover{
        .user__menu{
           height: auto;
           border-width: 1px;
           padding: 20px;
           overflow: auto;
        } 
    }
}
.circle__menu{
    border-top: 1px solid #e0e0e0;
    top: 62px;
    right: -10px;
    height: 0;
    overflow: hidden;
    transition: all .3s;
}
.bascet__box,
.message__box,
.notification__box{
    margin-top: 54px;
    margin-left: 15px;
    &:hover{
        .header__circle::before{
            color: $bg;
        }
        .circle__menu{
            overflow: hidden;
            height: auto;
        }
        .circle__item{
            padding: 23px;
            border-width: 1px;
        }
    }
}
.circle__item{
    background-color: #fff;
    border: 0px solid #e0e0e0;
    border-top: none;
    padding: 0 23px;
    transition: all .9s;
    display: flex;
    align-items: center;
    width: 269px;
}
.circle__images{
    margin-right: 15px;
}
.circle__info-name{
    @include f500;
    color: $bg;
}
.circle__info-thema{
    font-size: 12px;
    color: $green;
}
.circle__info-summ{
    @include f500;
    color:#000;    
    font-size: 16px;
}
.circle__info-data{
    font-size: 10px;
    color: #707070;
}
.bascet__summ{
    padding: 16px 17px 12px;
    border: 1px solid #e0e0e0;
    border-top: none;
    background-color: #fff;
}
.bascet__title{
    display: flex;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 22px;
    margin-bottom: 15px;
    font-size: 16px;
    @include f700;
    color: $bg;
}
.bascet__btn{
    @include f700;
    color:#fff;
    font-size: 14px;
    padding: 12px 5px;
    background-color: $green;
    text-align: center;
    width: 100px;
}
.bascet__btn-chekout{
    width: 120px;
    margin-left: 6px;
    background-color: $red;
}
.notification__menu,
.message__menu{
    .circle__images{
        margin-right: 20px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
    .circle__info{
        line-height: 18px;
    }
}
.header__btn-menu,
.menu__btn{
    display: none;
}
// end header
// start search
.search{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
}
.search__inner{
    padding: 155px 0 100px;
    color: #fff;
    text-align: center;
    &-title{
        margin-bottom: 10px;
        font-size: 48px;
        @include f700;
        line-height: 72px;
    }
    &-text{
        margin-bottom: 50px;
        font-size: 20px;
        @include f500;
        line-height: 30px;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            @include f500;
            padding-left: 25px;
            padding-right: 60px;
            outline: none;
            &::placeholder{
                color: #90a4ae;
                @include f500;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 16px;
        }
    }
}
// end search
// start products
  
.products{
    padding: 110px 0;
    background-color: $grey;
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    button{
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        outline: none;
        & + button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        }
    }
}
.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 90px;
        @include f500;
        border-bottom: 1px solid #e7ecf2;
    }
        &-name{
            max-width: 310px;
            display: block;
        }
        &-title{
            color: $bg;
            @include f700;
            font-size: 18px;
            display: block;
        }
        &-category{
            display: block;
            color: $green;
            font-size: 14px;
        }
        &-price{
            font-size: 20px;
            color: $bg;
            @include f700;
        }
        &-info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 70px;
            padding: 10px 30px;
        }
        &-author{
            display: flex;
            align-items: center;
            max-width: 245px;
            .avatar{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-position: center;
                display: inline-block;
                background-repeat: no-repeat;
                background-size: cover;
                margin-right: 14px;
            }
            span{
                font-size: 14px;
                @include f500;
            }
        }
        &-star{
            font-size: 12px;
            span{
                color: $bg;
            }
        }
    }
    .products__bottom-btn{
        text-align: center;
        button{
            margin: 45px 5px 0;
            box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
            border: none;
            background-color: #fff;
            color: $bg;
            padding: 20px 30px;
            cursor: pointer;
            outline: none;
        &.mixitup-control-active{
                background-color: $red;
                color: #fff;
            }
        }
    }
//end products
// start product-slider
.product-slider{
    padding: 110px 0 120px;
    .slick-dots{
        text-align: center;
        margin-top: 50px;
        li{
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;
            &.slick-active{
                button{
                    background-color: $green;
                }
            }
            button{
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}
// end product-slider

// start advantages
.advantages{
    background-color: $bg;
    padding: 110px 0;
}
.advantages__title{
    color: #fff;
}
.advantages__inner{
    display: flex;
    justify-content: space-between;
}
.advantages__item{
    min-width: 370px;
    text-align: center;
    padding: 0 15px;
    &:hover{
        .advantages__item-images{
            background-color: #8bc34a;
        }
        .advantages__item-title{
            color: #8bc34a;
        }
        .advantages__item-images{
            rect{
                fill: #000;
            }
        }
    }
    &-images{
        width: 114px;
        height: 114px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: all .5s;
    }
    &-title{
        margin-bottom: 25px;
        font-size: 24px;
        color: #fff;
        @include f500; 
        transition: all .5s; 
    }
    &-text{
        font-size: 15px;
    }
}
// end advantages

// start author
.author{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box{
        max-width: 650px;
        width: 100%;
        min-height: 215px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
    }
    &__title{
        font-size: 30px;
        line-height: 30px;
        color: #fff;
        margin-right: 45px;
        max-width: 260px;
        span{
            @include f700;
        }
    }
    &__link{
        font-size: 18px;
        line-height: 36px;
        padding: 14px 40px;
        background-color: #fff;
        color: $bg;
    }
}
// end author

// start tutorial
.tutorial{
    padding: 70px 0 120px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        min-width: 370px;
        width: 100%;
        margin-right: 35px;
    }
}
    .tutorial__item{
        &-images{
            min-height: 270px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &-title{
            @include f700;
            background-color: #f8f8f8;
            font-size: 24px;
            text-align: center;
            padding: 30px 10px;
            color: $bg;
        }
    }
// end tutorial
// start footer
.footer{
    background-color: $bg;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 100px 0 80px;
    }
}
.footer__copy{
    border-top: 1px solid #424d53;
}
.footer__copy-text{
    text-align: center;
    color: #919699;
    padding: 25px 0 25px;
}
.footer__col{
    max-width: 270px;
    // width: 100%;
    &-menu{
        max-width: 220px;
    }
    &-title{
        font-size: 22px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #fff;
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 2px;
            width: 51px;
            height: 3px;
            background-color: $green;
        }

    }
    &-text{
        color: #b7c3c8;
        margin-bottom: 30px;
    }
}
.footer__info{
    margin-top: 18px;
    @include f500;
    color: #fff;
    display: flex;
}
.footer__social-link{
    margin-bottom: 33px;
    li{
        display: inline-block;
    }
    a{
        width: 28px;
        height: 28px;
    }
    }

    .link-facebook{
        background-image: url(../images/content/s/Layer232.jpg);
    }
    .link-twitter{
        background-image: url(../images/content/s/Layer233.jpg);
    }
    .link-youtube{
        background-image: url(../images/content/s/Layer234.jpg);
    }
    .link-pinterest{
        background-image: url(../images/content/s/Layer235.jpg);
    }
    .link-linledin{
        background-image: url(../images/content/s/Layer236.jpg);
    }   

    .footer__form-title{
        margin-bottom: 15px;
        color: #fff;
        font-size: 20px;
    }
    .footer__form{
        position: relative;
        input{
            border: none;
            background-color: #2f3c43;
            display: block;
            width: 100%;
            height: 40px;
            color: #fff;
            font-size: 14px;
            padding-left: 13px;
            padding-right: 50px;
            &::placeholder{
                color: #697378;
            }
        }
        button{
            position: absolute;
            bottom: 0px;
            right: 0;
            background-color: $green;
            border: none;
            height: 40px;
            width: 43px;
            cursor: pointer;
            &::before{
                content: '';
                position: absolute;
                background-image: url(../images/icons/search.png);
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                top: 10px;
                left: 14px;
            }
        }
    }
    .footer__col-list{
        li{
            margin-bottom: 25px;
        }
    }
// end footer


@import 'media';